.App {
  text-align: center;
}


.input-btn{
  display: none;
}


.upload-btn{
  background-color:  rgba(255, 228, 196, 0.781);
  font-size: 32px;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  color: firebrick;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.781);
  cursor: pointer;
}

.upload-btn:hover{
  background-color: rgba(255, 228, 196, 0.993);
}